* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    .row {

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;

        .col-s-5 {
            padding: 60px;


            .ul {

                display: flex;
                list-style: none;

                .li {
                    width: 40px;
                }

            }
        }

        .col-lg-5 {
            padding: 60px;


            .ul {

                display: flex;
                list-style: none;

                .li {
                    width: 40px;
                }

            }
        }
        .col-s-6{
            padding: 60px;

            .ul1 {

                display: flex;
                list-style: none;

                a {
                    color: black;
                    text-decoration: none;
                }

                .li1 {
                    color: black;
                    width: 60px;
                }

                .li {
                    width: 100px;
                }

                .li2 {
                    width: 60px;
                }
            }
        
        }

        .col-lg-6 {
            padding: 60px;

            .ul1 {

                display: flex;
                list-style: none;

                a {
                    color: black;
                    text-decoration: none;
                }

                .li1 {
                    color: black;
                    width: 60px;
                }

                .li {
                    width: 100px;
                }

                .li2 {
                    width: 60px;
                }
            }
        }

    }
}

.container1 {
    .row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .col-s-2{
            padding: 60px;
        }
        .col-lg-2 {
            padding: 60px;
        }
        .col-s-6{
            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 15px;
                }
            }

            a {
                color: black;
                text-decoration: none;
            }
        }
        .col-lg-6 {

            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 15px;
                }
            }

            a {
                color: black;
                text-decoration: none;
            }


        }
        .col-s-4{
            display: flex;
            padding: 110px;

            input {
                border-radius: 10px;
                height: 30px;
            }

            .fa-regular {
                width: 40px;
                font-size: 25px;
            }

            .icon {
                .fa-solid {
                    font-size: 25px;
                }
            }
        }
        .col-lg-4 {
            display: flex;
            padding: 110px;

            input {
                border-radius: 10px;
                height: 30px;
            }

            .fa-regular {
                width: 40px;
                font-size: 25px;
            }

            .icon {
                .fa-solid {
                    font-size: 25px;
                }
            }



        }

    }
}

@media screen and (min-width: 768) and (max-width: 1023px) {
    .col-lg-2 {
        width: 100 * 1/6;
    }

    .col-lg-4 {
        width: 100 * 1/3;
    }

    .col-lg-5 {
        width: 100 * 5/12;
    }

    .col-lg-6 {
        width: 100 * 1/2;
    }
}
@media screen and (min-width: 560px) {
    .col-s-2 {
        width: 100 * 1/6;
    }

    .col-s-4 {
        width: 100 * 1/3;
    }

    .col-s-5 {
        width: 100 * 5/12;
    }

    .col-s-6 {
        width: 100 * 1/2;
    }
}
